<h1 style="text-align: center;">user-app</h1>
<br>
<div style="width: 60%;margin: auto;">
<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc blandit magna sapien, id finibus ante dapibus id.
    Etiam ultricies ac erat sit amet vulputate. Aenean sollicitudin facilisis erat, ac aliquam massa dictum vel. Fusce
    pellentesque massa et purus sagittis efficitur. Nam ut diam auctor, sollicitudin orci at, eleifend erat. Phasellus
    congue auctor consectetur. Ut ipsum tortor, bibendum dictum scelerisque ac, pellentesque ut diam. Curabitur bibendum
    porta molestie. Curabitur metus velit, congue in hendrerit eget, laoreet eget augue. Proin facilisis mattis mauris,
    nec consectetur est tincidunt eu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
    himenaeos. Phasellus sagittis eu massa in malesuada. Curabitur eget aliquam ligula. Aliquam consequat vel felis in
    interdum. Phasellus a lacus vestibulum, mattis nulla non, iaculis leo. Etiam placerat, leo ac imperdiet aliquam,
    purus augue imperdiet nibh, ut ultricies lorem nulla id nibh.</span>
    </div>
<div style="margin-top: 0px;height: 10px;border-top: 1px solid rgba(146, 197, 64, 0.501);width: 60%;margin: auto;"></div>