<div
    style="display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;border: 2px solid rgba(146, 197, 64, 0.701);background-color: rgba(146, 197, 64, 0.151);width: 60%;margin: auto;">
    <div style="margin: 3px;text-align: center;">Adres email: <b>exampleEmail@gmail.com</b>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat erat erat, a porta felis luctus eget. In
        hac habitasse platea dictumst. Praesent eget augue ipsum. Phasellus rutrum libero quis dolor cursus, quis
        venenatis eros mollis. Vestibulum tortor mauris, ultrices vulputate facilisis ac, ornare at dolor.</div>


</div>