<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(146, 197, 64, 0.301);">
  <a class="navbar-brand" [routerLink]="['/']" style="padding-left: 10px;"><img src="https://icons.iconarchive.com/icons/papirus-team/papirus-apps/128/kerbal-space-program-icon.png" width="45" height="45" loading="lazy"> UserAP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto" style="padding-right: 10px;">
      <a class="nav-link" [routerLink]="['/']">Home</a>
      <a class="nav-link" [routerLink]="['/','about']" tabindex="-1">About</a>
      <a class="nav-link" [routerLink]="['/','contact']" tabindex="-1" aria-disabled="true">Contact</a>
      <a class="nav-link" [routerLink]="['/','users']" tabindex="-1" aria-disabled="true">Users</a>
    </div>
  </div>
</nav>


<div class="container mt-5">
  <router-outlet></router-outlet>
</div>